@tailwind components;

@layer components {
    .app-logo {
        font-family: Coiny, sans-serif;
        position: relative;
        @apply pr-3 py-1 text-4xl
    }

    .app-logo::after {
        content: "";
        @apply absolute top-0 right-0 h-4 w-4 border-t-[4px] border-r-[4px] border-text-black rounded-full
    }
}